body{

    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    
}

.container-fluid{
    padding: 0;
    width: 0;
}



/*--------------------------------Header section*/
.header-content{
    background-color: rgba(255, 255, 255, 0.90);
}

nav.header-content.navbar.navbar-expand-md.navbar-light.fixed-top.mx-0{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#header-name{
    color: white;
    
}
/*------------------------------------Main content*/
.img-fluid{
    padding: 0;
    margin: 0;
}



p{
    font-size: 1.3em;
    text-decoration: none;
}


/*---------------------------------------------- About me*/

#about-me-content{
    background: url(../images/plans.jpg)no-repeat right;
    z-index: -1;
    padding-top: 100px;
    padding-bottom: 100px;
}
    
.background-text-color{
    background-color: rgba(255, 255, 255, 0.90);
}



/*--------------------------------------background image section*/

#spacer-page{
    width: 100%;
    height: 500px;
    background: url(../images/background-image.jpg)no-repeat center right fixed;
    
}
/*--------------------------------------Web Apps section*/

#apps-background-image{
    background: url(../images/circuit-board.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.background-white{
    background-color: rgba(255, 255, 255, 0.90);
}

.web-apps-p{
    font-size: 0.95em;
}

.web-apps-h3{
    color: #007373;
    text-shadow: 5px 0 5px #b1afaf;
    text-decoration-line: underline;
}

#web-apps-header{
    text-align: center;
    color: rgb(78, 74, 74);
    text-shadow: 5px 0 5px #b1afaf;
}

.web-app-icons{
    font-size: 0.95em;
    padding-left: 5px;
    text-shadow: 5px 0 5px #b1afaf;
}

/*--------------------------------------background image section*/

#spacer-page-2{
    background: url(../images/spacer-image-2.jpg) no-repeat bottom left fixed;
    height: 400px;
    width: 100%;
}


/*---------------------------------------skills section*/

#skills-content{
    background: url(../images/drawing-pad.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*-------------------------------Footer*/
footer{
    background-color: #fff;
    width: 100%;
    height: 150px;
}

i {
    font-size: 2.7em;
    color: #000;
}

.footer-text{
    text-align: center;
    padding-top: 55px;
}
/*---------------------------------------Modal Conact Me section*/


 

/*-------------------------------Order of precednece*/

@media only screen and (max-width: 450px){
    #about-me-content {
        padding-top: 0;
        padding-bottom: 0;
    }
}

