body{
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}
/*--------------------------------Header section*/
.header-content{
    background-color: rgba(255, 255, 255, 0.90);
}

nav.header-content.navbar.navbar-expand-md.navbar-light.fixed-top.mx-0{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#navbarSupportedContent{
    width: 100%;
    padding: 0;
    margin: 0;
}


#header-name{
    color: white;
    
}
/*------------------------------------Main content*/
.img-fluid{
    padding: 0;
    margin: 0;
}

.main-content{

    background: rgb(2,0,36);
    background: linear-gradient(354deg, rgba(2,0,36,1) 8%, rgba(158,158,158,1) 53%, rgba(17,35,38,1) 78%);
    width: 100%;
    height: auto;
    margin: 0 auto;
}

p{
    font-size: 1.3em;
    text-decoration: none;
}



.background-white{
    background: white;
}

/*-------------------------------Footer*/
footer{
    background-color: #fff;
    width: 100%;
    height: 150px;
}

i {
    font-size: 2.7em;
    color: #000;
}

.footer-text{
    text-align: center;
    padding-top: 55px;
}

/*-------------------------------Order of precednece*/

 @media only screen and (min-width: 770px) {
     .gradient-color{
        background: rgb(255,255,255);
        background: linear-gradient(94deg, rgba(255,255,255,1) 37%, rgba(245,245,245,1) 79%, rgba(242,242,244,1) 89%);
     }
    
}

